body{
	background: #afb3b4;
}
h2{
	text-align: center;
	text-shadow: 0 5px 5px #2bc6e2;
}
div{
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
}
img{

	border-radius: 6px;
	box-shadow: 0 5px 7px #333;
}
